<div class="container border p-3  m-5 row d-flex justify-content-around" appCustom>
    <p>color change</p>
    <div class="col-md-4 border rounded border-info container-fluid" >
        <h2 class="" >Color</h2>
       
            <div class="form-group" >
             
              <input type="text" #inf1 class="form-control" >
              
            </div>
           <div class="form-group mt-2">
                <button type="submit" class="btn btn-success" (click)="onclick(inf1)" name="user">Create</button>
            </div>
           
     
        

       
    </div>
