<nav><ul class="nav nav-tabs">
    <li class="nav-link"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/Ex1" >Exercise 1</a></li>
    <li class="nav-link"><a class="nav-link" routerLinkActive="active" routerLink="/getapi">Get Api</a></li>
    <li class="nav-link"><a class="nav-link" routerLinkActive="active" routerLink="/product">Products</a></li>
    <li class="nav-link"><a class="nav-link" routerLinkActive="active" routerLink="/subject">Subject</a></li>
    <li class="nav-link"><a class="nav-link" routerLinkActive="active" routerLink="/cusdir">CusDirE</a></li>
    <li class="nav-link"><a class="nav-link" routerLinkActive="active" routerLink="/hostlistner">HostListner</a></li>
  
  
   
    
  </ul>
</nav>