<div class="container border rounded border-info d-flex">
<div class="border-info rounded border div " appHostlistner>
<h1 class="m-3">Div 1</h1>

</div>

<div class="border-info rounded border div " appHostlistner>
    <h1 class="m-3">Div 2</h1>
    
    </div>
    <div class="border-info rounded border div " appHostlistner>
        <h1 class="m-3">Div 3</h1>
        
        </div>
        <div class="border-info rounded border div " appHostlistner>
            <h1 class="m-3">Div 4</h1>
            
            </div><div class="border-info rounded border div " appHostlistner>
                <h1 class="m-3">Div 5</h1>
                
                </div>
    

</div>
<div class="container border rounded border-info mt-3 ch">
    
<h3 class="" >Why HostListner</h3>
<input type="checkbox" #inputEl name="vehicle1" (change)="onChange(inputEl.checked)"  value="">
<label for="vehicle1">  Apply HostListner</label><br>
<div class="container border rounded border-info p-3 d-flex child">
<app-childhostlistner1 [cls]="cls"></app-childhostlistner1>
<app-childhostlistner2></app-childhostlistner2>

</div>
</div>