<div class="container border rounded border-info d-flex">
<div class="border-info rounded border div " appHostlistner>
<h1 class="m-3">Div 1</h1>

</div>

<div class="border-info rounded border div " appHostlistner>
    <h1 class="m-3">Div 2</h1>
    
    </div>
    <div class="border-info rounded border div " appHostlistner>
        <h1 class="m-3">Div 3</h1>
        
        </div>
        <div class="border-info rounded border div " appHostlistner>
            <h1 class="m-3">Div 4</h1>
            
            </div><div class="border-info rounded border div " appHostlistner>
                <h1 class="m-3">Div 5</h1>
                
                </div>
    

</div>
<div class="container border rounded border-info mt-3">
    
<h3>Why HostListner</h3>
<div>
<app-childhostlistner1></app-childhostlistner1>

</div>
</div>