<div class="container border p-3  m-5 row d-flex justify-content-around d rounded border-info ">
    <h1>sub-c1 works!</h1>
<p>{{sub1valu}}</p>
<h2>insert value</h2>
        
            <div class="form-group d-flex  container-fluid">
             
              <input #inf  type="text" class="form-control input" name="admin">
              
           
            
                <button class="btn btn-success  " (click)="click(inf)">Create</button>
            </div>
</div>
<app-sub-c2></app-sub-c2>
<app-sub-c3></app-sub-c3>
<app-sub-c4></app-sub-c4>
